name: claudioscribe

services:
  app:
    build: .
    volumes:
      - "./config:/app/config"
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_CLIENT_SECRET=${GOOGLE_CLIENT_SECRET}
    restart: unless-stopped
